

<div class="row">
<div class="col-lg-4"></div>


<div class="col-lg-4" style="margin-top:80px">
  <h3>会員の方はこちらからログイン</h3>
</div>
</div>

<div class="col-lg-4"></div>
<div class="col-lg-4">
<%= flash[:error] %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="mail">
    <%= f.label :"メールアドレス" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="password">
    <%= f.label :"パスワード" %>

    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <%# <% if devise_mapping.rememberable? %>
    <%# <div class="field"> %>
      <%# <%= f.check_box :remember_me %>
      <%# <%= f.label :remember_me %>
    <%# </div> %>
  <%# <% end %>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "=> パスワードを忘れた方はこちら", new_password_path(resource_name) %><br />
<% end %>

  <div class="actions">
    <%= f.submit " ログイン " %>
  </div>


  <h5 class="sign_up_link">登録がお済みでない方</h5>
  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to "こちら", new_registration_path(resource_name) %> から新規登録を行ってください。
  <% end %>

  <%# <h5 style="margin-top:50px">登録がお済みでない方</h5> %>
  <%# <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%# <%= link_to "こちら", new_registration_path(resource_name) %>
  <%# <% end %>
<% end %>
</div>

<%# <%= render "members/shared/links" %>
