<h2>ジャンル編集</h2><br><br><br>

<%= form_with model: [:admins, @genre], local: true do |f| %>
	<%= f.label :name, "ジャンル" %>
    <%= f.text_field :name %>　
    <%= f.radio_button :status, :表示, :checked => true %>
    <%= f.label :status, "表示" %>　
    <%= f.radio_button :status, :非表示, :checked => false %>
    <%= f.label :status, "非表示" %>　

	<%= f.submit "追加",class: 'btn btn-primary' %>
<% end %>