<h1>Admins::Members#edit</h1>
<p>Find me in app/views/admins/members/edit.html.erb</p>
 <h3>
    <%= @member.last_name %>
    <%= @member.first_name %>さんの会員情報編集</h3>

    	<tr>
		<td>会員ID</td>
		<td><%= @member.id %></td>
	</tr>

<%= form_for(@member) do |f| %>
<table>

<tr>
        <td><%= f.label :名前 %></td>
        <td>
          (姓)<%= f.text_field :last_name %>
        </td>
        <td>
          (名)<%= f.text_field :first_name %>
        </td>
</tr>
        <td><%= f.label :フリガナ %></td>
        <td>
          (セイ)<%= f.text_field :kana_last_name%>
        </td>
        <td>
          (メイ)<%= f.text_field :kana_first_name%>
        </td>
<tr>
        <td><%= f.label :Eメール %></td>
        <td><%= f.text_field :email %></td>
<tr>
        <td><%= f.label :郵便番号（ハイフンなし） %></td>
        <td><%= f.text_field :postal_code %></td>
</tr>
        <td><%= f.label :住所 %></td>
        <td><%= f.text_field :address %></td>
<tr>
        <td><%= f.label :電話番号（ハイフンなし） %></td>
        <td><%= f.text_field :phone %></td>
</tr>
        </table>

        <%= f.submit '編集内容を保存する' %>
        <% end %>
