
<h3>
    <%= @member.last_name %>
    <%= @member.first_name %>さんの会員詳細</h3>
<table class="table table-striped">
    <tr>
        <td>顧客ID</td>
        <td>
            <%= @member.id %>
            <% if @member.withdrawal_status == 1 %>　
            <p class="label label-primary">有効会員</p>
            <% else %>
            <p>退会済</p>
            <% end %>
        </td>
        
    </tr>
    <tr>
        <td>氏名</td>
        <td>
            <%= @member.last_name %>
            <%= @member.first_name %>
        </td>
    </tr>
    <tr>
        <td>フリガナ</td>
        <td>
            <%= @member.kana_last_name %>
            <%= @member.kana_first_name %>
        </td>
    </tr>
    <tr>
        <td>郵便番号</td>
        <td>
            <%= @member.postal_code %>
        </td>
    </tr>
    <tr>
        <td>住所</td>
        <td>
            <%= @member.address%>
        </td>
    </tr>
    <tr>
        <td>電話番号</td>
        <td>
            <%= @member.phone %>
        </td>
    </tr>
    <tr>
        <td>メールアドレス</td>
        <td>
            <%= @member.email%>
        </td>
    </tr>
</table>

<%= link_to '編集する', edit_admins_member_path(@member),class: 'btn btn-primary' %>
<%= link_to '注文履歴一覧を見る', admins_orders_path(type: 'member', member_id: @member.id), class: 'btn btn-primary' %>