
<div class="col-md-10" >
  <div class="row" >
    <div class="col-md-offset-1" >
      <h3>注文情報入力</h3>
    </div>
  </div>

  <%= form_tag(orders_confirmation_path, method: :post) do |f|  %>

      <div class="row" >
          <h4><strong>支払方法</strong></h4>
      </div>

      <div class="row" >
        <div class="col-md-4 form-group" >
          <%= radio_button_tag :payment, :"クレジットカード", checked: true %>
          <%= label_tag :payment, "クレジットカード" %><br>
          <%= radio_button_tag :payment, :"銀行振込" %>
          <%= label_tag :payment, "銀行振込" %>
        </div>
      </div>

      <div class="row" >
        <h4><strong>お届け先</strong></h4>
      </div>

      <div class="row" >
        <div class="col-md-12 form-group" >
          <%= radio_button_tag :select_address, :member_address, checked: true %>
          <%= label_tag :select_address, "ご自身の住所" %>
          <div class="row" >
            <div class="col-md-12" >
          	 <%= current_member.postal_code + current_member.address %><br>
          	 <%= current_member.last_name + current_member.first_name %>
            </div>
          </div>
        </div>
      </div>

      <div class="row" >
        <div class="col-md-12" >
            <%= radio_button_tag :select_address, :registered_address %>
            <%= label_tag :select_address, "登録済住所から選択", class: "control-label" %>
        </div>
      </div>
        <div class="row" >
            <div class="col-md-9 form-group" >
              <%= select_tag 'address_number', options_from_collection_for_select(current_member.shipping_addresses, :id, :full_address), class: "form-control" %>
            </div>
      </div>

      <div class="row" >
        <div class="col-md-12" >

          <%= radio_button_tag :select_address, :new_address %>
          <%= label_tag :select_address, "新しいお届け先", class: "form-horizontal" %>

                <div class="row form-group">
                  <%= label_tag :postal_code, "郵便番号（ハイフンなし）" ,class: "col-md-3 p-1" %>
                  <div class="col-md-3">
                    <%= text_field_tag :postal_code, '', class: "form-control" %>
                  </div>
                </div>
                <div class="row form-group">
                  <%= label_tag :address, "住所", class: "col-md-3" %>
                  <div class="col-md-5">
                    <%= text_field_tag :address, '', class: "form-control" %>
                  </div>
                </div>
                <div class="row form-group">
                  <%= label_tag :name, "宛名" ,class: "col-md-3" %>
                  <div class="col-md-3">
                    <%= text_field_tag :name, '', class: "form-control" %>
                  </div>
                </div>
        </div>
      </div>

    <%= submit_tag "確認画面へ進む", class: "btn btn-primary center-block" %>

  <% end %>

</div>
