<h1>ShippingAddresses#edit</h1>

<h1>配送先編集</h1>
<%= form_for @shipping_address do |f| %>
	<%= f.label :postal_code, "郵便番号（ハイフンなし）" %>
	<%= f.text_field :postal_code %><br>
	<%= f.label :address, "住所" %>
	<%= f.text_field :address %><br>
	<%= f.label :name, "宛名" %>
	<%= f.text_field :name %><br>
	<%= f.submit "編集する" %>
<% end %>
