<div class="row" >
	<div class="col-md-4 col-md-offset-1">
		<h3>ショッピングカート</h3>
	</div>
	<div class="col-md-2 col-md-offset-5", style="margin-top: 20px;">
		<%= link_to '/cart_items/', method: :delete do %>
			<button class="btn btn-danger">カートを空にする</button>
		<% end %>
	</div>
</div>

<% if @cart_items.present? %>
<div class="row", style="margin-top: 20px;" >
	<table class="table table-bordered">
		<thead>
			<tr class="active">
				<th class="col-md-4">商品名</th>
				<th class="col-md-2">単価（税込）</th>
				<th class="col-md-2">数量</th>
				<th class="col-md-2">小計</th>
				<th class="col-md-2"></th>
			</tr>
		</thead>
		<tbody>
			<% total = 0 %>
			<% @cart_items.each do |cart_item| %>
			<tr>
					<td>
						<%= attachment_image_tag(cart_item.product, :image, :fill,50,50, fallback: "no_image.jpg", size:'50x50') %>
						<%= cart_item.product.name %>
					</td>
					<td><%= include_tax(cart_item.product.tax_excluded_price).to_i %></td>
					<%= form_for cart_item,url: cart_item_path(cart_item) do |f| %>
						<td><%= f.number_field :quantity, value: cart_item.quantity, min: 0, max: 99 %>
							<%= f.submit "変更", class: "btn btn-info" %>
							<% end %>
					</td>

					<td><%= subtotal = cart_item.quantity.to_i * include_tax(cart_item.product.tax_excluded_price).to_i %></td>
					<td><%= link_to cart_item_path(cart_item), method: :delete do %>
							<button class="btn btn-danger">削除</button>
						<% end %>
					</td>
			</tr>
			<% total += subtotal %>
			<% end %>
		</tbody>
	</table>
</div>

<div class ="row">
	<div class="col-md-3">
		<%= link_to root_path do %>
			<button class="btn btn-info">買い物を続ける</button>
		<% end %>
	</div>
	<div class="col-md-4 col-md-offset-5", style="padding: 0px;">
		<table class="table table-bordered">
				<tr>
					<th class="active">合計金額</th>
					<td><%= total %></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
	<%= link_to new_order_path do %>
		<button class="btn btn-success center-block">情報入力に進む</button>
	<% end %>

<% else %>
	<p>カートは空です</p>
<% end %>

