
<h4><%= @member.last_name %> 様</h4>

<p><strong>ご注文ありがとうございました！</strong></p>

<p>この度は「ながのCAKE」にてお買い上げいただき、ありがとうございました。<br>
	ご注文内容は以下の通りとなります。
</p>

<p><strong>注文内容</strong></p>
<table>
    <thead>
        <tr>
            <th>商品</th>
            <th>単価（税込）</th>
            <th>個数</th>
            <th>小計</th>
        </tr>
    </thead>
    <tbody>
        <% @order.order_products.each do |order_product|  %>
        <tr>
            <td>
                <%= order_product.product.name %>
            </td>
            <td>
            	<%= order_product.tax_included_price %>
            </td>
            <td>
                <%= order_product.quantity %>
            </td>
            <td><%= subtotal = order_product.tax_included_price * order_product.quantity %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
<p><strong>請求情報</strong></p>
<table>
    <tr>
        <td>商品合計</td>
        <td>
            <%= @order.total_fee - @order.delivery_fee %> 円
        </td>
    </tr>
    <tr>
        <td>配送料</td>
        <td>
            <%= @order.delivery_fee %> 円
        </td>
    </tr>
    <tr>
        <td>ご請求額</td>
        <td>
            <%= @order.total_fee %> 円
        </td>
    </tr>
</table>
<p><strong>注文情報</strong></p>
<table>
    <tr>
        <td>注文日</td>
        <td>
            <%= @order.created_at.strftime('%Y/%m/%d') %>
        </td>
    </tr>
    <tr>
        <td>配送先</td>
        <td>
            <%= @order.postal_code %> <%= @order.address %><br>
            <%= @order.name %>
        </td>
    </tr>
    <tr>
        <td>支払い方法</td>
        <td>
            <%= @order.payment %>
        </td>
    </tr>
</table>

<p>この度は「ながのCAKE」にてお買い物いただき、誠にありがとうございました。またのご利用を心よりお待ちしております。</p>

<p><strong>ながのCAKE</strong></p>