<h2>商品編集</h2><br><br><br>

  <%= form_for @product, url: admins_product_path(@product) do |f| %>
    <div class="col-sm-5"> 
    <table class="table">
        <tr height="50"><%= f.attachment_field :image %><tr>
        <tr>
          <td width="120" height="80">商品名</td>
          <td><%= f.text_field :name %></td>
        </tr>

        <tr>
          <td width="120" height="80">商品説明</td>
          <td><%= f.text_area :explanation %></td>
        </tr>

        <tr>
          <td width="120" height="80">ジャンル</td>
          <td><%= f.collection_select :genre_id, Genre.all, :id, :name %></td>
        </tr>

        <tr>
          <td width="120" height="80">税抜価格</td>
          <td><%= f.text_field :tax_excluded_price %>円</td>
        </tr>

        <tr>
          <td width="120" height="80">販売ステータス</td>
          <td><%= f.select :sale_status,{ 販売中:"販売中", 売切れ:"売切れ"} %></td>
        </tr>   
    </table>
    <%= f.submit '変更を保存',class: 'btn btn-primary' %>
    </div>
  <% end %>