<div class="row" , style="margin-top: 50px;">
<%= render 'admins/genres/research', genres: @genres %>
<div class="col-lg-9">
    <h2>商品一覧<small>(全
            <%= @products.count %>件)</small></h2>
    <% @products.each do |product| %>
    <div　>
        <%= attachment_image_tag(product, :image, :fill,200,200, fallback: "no_image.jpg", size:'200x200') %>
        <%= link_to product.name, "/products/#{product.id}" %>
        <%= product.tax_excluded_price %>(税抜)
    </div>
    <% end %>
    <%= paginate @products %>
</div>
</div>