

  <%= render 'admins/genres/research', genres: @genres %>


<div class="col-lg-10">
  <h2 class="products_index_margin">商品一覧<small>(全<%= @all_products.count %>件)</small></h2>
      <% @products.each do |product| %>
          <div class="flex_container">
            <table>
              <tr>
                <td>
                <%= attachment_image_tag(product, :image, :fill,200,200, fallback: "no_image.jpg", size:'200x200') %>
                </td>
              </tr>
              <tr>
                <td>
                <%= link_to product.name, "/products/#{product.id}" %>
                </td>
              </tr>
              <tr>
                <td>
                ¥<%= product.tax_excluded_price %>(税抜)
                </td>
              </tr>
            </table>
          </div>
      <% end %>

</div>

      <div class="pagenation">
        <%= paginate @products %>
      </div>


