<!DOCTYPE html>
<html>

<head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <header class="navbar navbar-fixed-top navbar-inverse">
        <div class="conteiner">
            <div class="row" style="margin-right: 60px">
                
                <nav>
                    <ul class="nav navbar-nav navbar-right">
                        <% if admin_signed_in? %>
                        <nav class="nav navber-nav navbar-left">
                            <p class="title">
                              <%= link_to image_tag('header_rogo2.jpg', :width => '300', :height => '200' ), '/admins' %>
                            </p>
                        </nav>
                        <li>
                            <%= link_to(admins_products_path) do %>
                            <button type="button" class="btn btn-secondary">商品一覧</button>
                            <% end %>
                        </li>
                        <li>
                            <%= link_to(admins_members_path) do %>
                            <button type="button" class="btn btn-secondary">会員一覧</button>
                            <% end %>
                        </li>
                        <li>
                            <%= link_to(admins_orders_path) do %>
                            <button type="button" class="btn btn-secondary">注文履歴一覧</button>
                            <% end %>
                        </li>
                        <li>
                            <%= link_to(admins_genres_path) do %>
                            <button type="button" class="btn btn-secondary">ジャンル一覧</button>
                            <% end %>
                        </li>
                        <li>
                            <%= link_to(destroy_admin_session_path, method: :delete) do %>
                            <button type="button" class="btn btn-secondary">ログアウト</button>
                            <% end %>
                        </li>
                        <% elsif member_signed_in? %>
                        <nav class="nav navber-nav navbar-left">
                            <p class="title">
                                <%= link_to image_tag('header_rogo2.jpg', :width => '300', :height => '200' ), '/' %>
                            </p>
                         </nav>
                        <li>
                            <p class="welcome">ようこそ、
                                <%= current_member.last_name%>
                                <%= current_member.first_name%>さん!</p>
                        </li>
                        <li>
                            <%= link_to(member_path) do %>
                            <button type="button" class="btn btn-secondary">マイページ</button>
                            <% end %>
                        </li>
                        <li>
                            <%= link_to(products_path) do %>
                            <button type="button" class="btn btn-secondary">商品一覧</button>
                            <% end %>
                        </li>
                        <li>
                            <%= link_to(cart_items_path) do %>
                            <button type="button" class="btn btn-secondary">カート</button>
                            <% end %>
                        </li>
                        <li>
                            <%= link_to(destroy_member_session_path, method: :delete) do %>
                            <button type="button" class="btn btn-secondary">ログアウト</button>
                            <% end %>
                        </li>
                        <% else %>
                        <nav class="nav navber-nav navbar-left">
                            <p class="title">
                                <%= link_to image_tag('header_rogo2.jpg', :width => '300', :height => '200' ), '/' %>
                            </p>
                         </nav>
                        <li>
                            <%= link_to(about_path) do %>
                            <button type="button" class="btn btn-secondary">About</button>
                            <% end %>
                        </li>
                        <li>
                            <%= link_to(products_path) do %>
                            <button type="button" class="btn btn-secondary">商品一覧</button>
                            <% end %>
                        </li>
                        <li>
                            <%= link_to(new_member_registration_path) do %>
                            <button type="button" class="btn btn-secondary">新規登録</button>
                            <% end %>
                        </li>
                        <li>
                            <%= link_to(new_member_session_path) do %>
                            <button type="button" class="btn btn-secondary">ログイン</button>
                            <% end %>
                        </li>
                        <% end %>
                    </ul>
                </nav>
            </div>
            <% if admin_signed_in? %>
            <div class="row">
                <div class="nav navbar-nav navbar-right" style="margin:0 60px 5px 0">
                    <%= form_tag(search_path , method: :get) do %>
                    <%= text_field_tag(:search)%>
                    <%= submit_tag "検索" %>
                    <% end %>
                </div>
            </div>
            <% end %>
        </div>
    </header>
　　<main>
    <body style="background-color:#DDDDDD">
        <div class="container" style="margin: 60px auto">
            <% if admin_signed_in? %>
            <div class="margin" style="margin-top: 40px"></div>
            <% end%>
            <div class="row">
                <%= yield %>
            </div>
        </div>
    </body>
        <footer class="container-fixed" >
            <div class="footer_font_size">
                Copyrights (C) 2020 Nagano Cake Co.,Ltd. All Rights Reserved.
            </div>
        </footer>

</html>