<h3 class="member_edit">登録情報編集</h3>
<%= form_for(@member) do |f| %>

        <table class="mamber_edit_table">
                <tr>
                        <th class="th_name_width">名前</th>
                        <td class="td_span_width"><span> (姓)</span></td>
                        <td class="td_last_name_width">
                               <%= f.text_field :last_name %>
                        </td>
                        <td class="td_span_width"><span>(名)</span></td>
                        <td class="th_name_width">
                                <%= f.text_field :first_name %>
                        </td>
                </tr>
                <tr>
                        <th>フリガナ</th>
                        <td><span> (セイ)</span></td>
                        <td>
                                <%= f.text_field :kana_last_name %>
                        </td>
                        <td><span> (メイ)</span></td>
                        <td>
                                <%= f.text_field :kana_first_name %>
                        </td>
                </tr>
                <tr>
                        <th>メールアドレス</th>
                        <td></td>
                        <td>
                          <%= f.text_field :email %>
                        </td>
                </tr>
                <tr>
                        <th>郵便番号（ハイフンなし）</th>
                        <td></td>
                        <td>
                          <%= f.text_field :postal_code %>
                        </td>
                </tr>
                <tr>
                        <th>住所</th>
                        <td></td>
                        <td>
                          <%= f.text_field :address %>
                        </td>
                </tr>
                 <tr>
                        <th>電話番号（ハイフンなし)</th>
                        <td></td>
                        <td>
                          <%= f.text_field :phone %>
                        </td>
                </tr>
        </table>

        <table>
          <tr>
            <td class="edit_create_padding_left">
              <%= f.submit '編集内容を保存する', class:"btn btn-primary" %>
            </td>
            <td class="withdrawal_padding_left">
              <%= link_to(members_confirmation_path) do %>
                <button class="btn btn-danger">退会する</button>
              <% end %>
            </td>
          </tr>
        </table>
    <% end %>

