<h3 class="mypage">マイページ</h3>
<table>
    <tr>
        <td>
            <h4>登録情報</h4>
        </td>
        <td class="member_show_edit_button">
            <%= link_to(member_edit_path) do %>
            <button type="button" class="btn btn-info">編集する</button>
            <% end %>
        </td>
        <td class="member_show_password_button">
            <button type="button" class="btn btn-info">パスワードを変更する</button>
        </td>
    </tr>
</table>
<table border="1" width="300" height="200">
    <tr>
        <td>氏名</td>
        <td>
            <%= @member.last_name %>
            <%= @member.first_name %>
        </td>
    </tr>
    <tr>
        <td>カナ</td>
        <td>
            <%= @member.kana_last_name%>
            <%= @member.kana_first_name%>
        </td>
    </tr>
    <tr>
        <td>郵便番号</td>
        <td>
            <%= @member.postal_code %>
        </td>
    </tr>
    <tr>
        <td>住所</td>
        <td>
            <%= @member.address %>
        </td>
    </tr>
    <tr>
        <td>電話番号</td>
        <td>
            <%= @member.phone %>
        </td>
    </tr>
    <tr>
        <td>メールアドレス</td>
        <td>
            <%= @member.email %>
        </td>
    </tr>
</table>
<table class="index_button" width="200" height="150">
    <tr>
        <td>
            <h4>配送先</h4>
        </td>
        <td>
            <%= link_to(shipping_addresses_path) do %>
            <button type="button" class="btn btn-info">一覧を見る</button>
            <% end %>
        </td>
    </tr>
    <tr>
        <td>
            <h4>注文一覧</h4>
        </td>
        <td>
            <%= link_to(orders_path) do %>
            <button type="button" class="btn btn-info">一覧を見る</button>
            <% end %>
        </td>
    </tr>
</table>
<%# <li><%= link_to ' log out', destroy_member_session_path, method: :delete %>
<%# <p>注文履歴</p> %>